[package]
name = "regex"
version = "0.1.44"
authors = ["The Rust Project Developers"]
license = "MIT/Apache-2.0"
readme = "README.md"
repository = "https://github.com/rust-lang/regex"
documentation = "https://doc.rust-lang.org/regex"
homepage = "https://github.com/rust-lang/regex"
description = """
An implementation of regular expressions for Rust.
"""

[[test]]
path = "src/lib.rs"
name = "regex"

[[test]]
path = "regex_macros/tests/test_dynamic.rs"
name = "dynamic"

[[test]]
path = "regex_macros/tests/test_dynamic_nfa.rs"
name = "dynamic_nfa"

[[test]]
path = "regex_macros/tests/test_dynamic_backtrack.rs"
name = "dynamic_backtrack"

[[bench]]
name = "all"
path = "regex_macros/benches/bench_dynamic.rs"
test = false
bench = true

[dependencies]
aho-corasick = "0.4"
memchr = "0.1"
regex-syntax = { path = "regex-syntax", version = "0.2" }

[dev-dependencies]
rand = "0.3"

[features]
pattern = []

[profile.bench]
lto = true
