[package]
name = "regex-syntax"
version = "0.1.1"
authors = ["The Rust Project Developers"]
license = "MIT/Apache-2.0"
repository = "https://github.com/rust-lang/regex"
documentation = "http://doc.rust-lang.org/regex"
homepage = "https://github.com/rust-lang/regex"
description = "A regular expression parser."

[dev-dependencies]
quickcheck = "0.2"
rand = "0.3"
