cargo-features = ['named-profiles']

[package]
name = "regex-fuzz"
version = "0.0.0"
authors = ["David Korczynski <david@adalogics.com>"]
publish = false
edition = "2018"

[package.metadata]
cargo-fuzz = true

[dependencies]
libfuzzer-sys = "0.4.1"

[dependencies.regex]
path = ".."

# Prevent this from interfering with workspaces
[workspace]
members = ["."]

[[bin]]
name = "fuzz_regex_match"
path = "fuzz_targets/fuzz_regex_match.rs"

[profile.release]
opt-level = 3
debug = true

[profile.dev]
inherits = "release"

[profile.test]
inherits = "release"
